{{!-- Top buttons START --}}
<div class="call-to-action-row d-flex justify-content-center">
  <a href="#" class="call-to-action-button ml-2 mr-2 pl-4 pr-4">View The Demo</a>
  <a href="#" class="call-to-action-button  ml-2 mr-2 pl-4 pr-4">Sign Up Today!</a>
</div>
{{!-- Top buttons END --}} {{!-- Columns START --}}
<div class="row mb-5">
  <div class="col col-left">
    <h5>Everything You Need</h5>
    <div>
      <i class="fa fa-square-o fa-2x float-left p-2" aria-hidden="true"></i>
      <p class="small">
        We’ve got you covered. Free websites, easy drag and drop, designer-made templates, beautiful galleries, mobile optimized,
        domains, huge image collection, secure hosting, SEO, 24/7 full support and more - all wrapped up in one free website
        builder.
      </p>
      <button class="button d-inline p-1 button-read-more">Read more</button>
    </div>
  </div>
  <div class="col col-middle">
    <h5>Do It Yourself</h5>
    <div>
      <i class="fa fa-square-o fa-2x float-left p-2" aria-hidden="true"></i>
      <p class="small">Creating your stunning website for free is easier than ever with our website builder. No tech skills needed. Just pick
        a template, change anything you want, add your images, videos, text and more to get online instantly.
      </p>
      <button class="button d-inline p-1 button-read-more">Read more</button>
    </div>
  </div>
  <div class="col col-right">
    <h5>Use the Power of Design</h5>
    <div>
      <i class="fa fa-square-o fa-2x float-left p-2" aria-hidden="true"></i>
      <p class="small">ADI learns about you and applies this knowledge to create the perfect website for your needs. From billions of combinations
        including layouts, images, text, contact forms and more, Wix ADI website builder selects the most stunning just for
        you - creating a one-of-a-kind free website.
      </p>
      <button class="button d-inline p-1 button-read-more">Read more</button>
    </div>
  </div>
</div>

{{!-- Columns END --}} {{!-- Media bar START --}}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#videoModal1">
  Launch demo modal
</button>

<!-- Modal -->
{{!--
<div class="modal fade" id="videoModal1" tabindex="-1" role="dialog" aria-labelledby="videoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe height="100%" src="https://www.youtube-nocookie.com/embed/K-zI7sC0glo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div> --}} {{!--
<div class="media-container">
  <div class="row p-3">
    <div class="col">

    </div>
    <div class="col">
      <iframe src="https://www.youtube-nocookie.com/embed/WRU83c06luM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col">
      <iframe src="https://www.youtube-nocookie.com/embed/WRU83c06luM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col">
      <iframe src="https://www.youtube-nocookie.com/embed/WRU83c06luM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col">
      <iframe src="https://www.youtube-nocookie.com/embed/WRU83c06luM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div> --}} {{!-- Media bar END --}} {{!-- Bottom buble START --}}
<div class="bubble text-secondary text-center p-4">
  <h5 class="d-inline p-4">We offer the highest quality and most advanced web design services anywhere </h5>
  <button class="button d-inline p-1">Read more</button>
</div>
{{!-- Bottom buble END --}}