{{!-- Top buttons START --}}
<div class="call-to-action-row d-flex justify-content-center">
  <a href="#" class="call-to-action-button ml-2 mr-2">View The Demo</a>
  <a href="#" class="call-to-action-button  ml-2 mr-2">Sign Up Today!</a>
</div>
{{!-- Top buttons END --}} {{!-- Columns START --}}
<div class="row mb-5 mt-5">
  <div class="col col-left">
    <h3 class="text-color-dark-blue-green">Everything You Need</h3 class="text-color-dark-blue-green">
    <div>
      <img src="../../img/placeholder-66-66.png" alt="placeholder-66-66" class="float-left ml-0 mr-2 mb-2 mt-2 border-gray-bottom-1">
      <p class="small column">
        We’ve got you covered. Free websites, easy drag and drop, designer-made templates, beautiful galleries, mobile optimized,
        domains, huge image collection, secure hosting, SEO, 24/7 full support and more - all wrapped up in one free website
        builder.
      </p>
      <button class="button-1 d-inline p-1 mr-4 button-read-more">Read more</button>
    </div>
  </div>
  <div class="col col-middle">
    <h3 class="text-color-dark-blue-green">Do It Yourself</h3 class="text-color-dark-blue-green">
    <div>
      <img src="../../img/placeholder-66-66.png" alt="placeholder-66-66" class="float-left ml-0 mr-2 mb-2 mt-2 border-gray-bottom-1">
      <p class="small">We’ve got you covered. Free websites, easy drag and drop, designer-made templates, beautiful galleries, mobile optimized,
        domains, huge image collection, secure hosting, SEO, 24/7 full support and more - all wrapped up in one free website
        builder.
      </p>
      <button class="button-1 d-inline p-1 mr-4 button-read-more">Read more</button>
    </div>
  </div>
  <div class="col col-right">
    <h3 class="text-color-dark-blue-green">Use the Power of Design</h3 class="text-color-dark-blue-green">
    <div>
      <img src="../../img/placeholder-66-66.png" alt="placeholder-66-66" class="float-left ml-0 mr-2 mb-2 mt-2 border-gray-bottom-1">
      <p class="small">We’ve got you covered. Free websites, easy drag and drop, designer-made templates, beautiful galleries, mobile optimized,
        domains, huge image collection, secure hosting, SEO, 24/7 full support and more - all wrapped up in one free website
        builder.
      </p>
      <button class="button-1 d-inline p-1 mr-4 button-read-more">Read more</button>
    </div>
  </div>
</div>

{{!-- Columns END --}} {{!-- Media bar START --}}


<div class="media-container">
  <div class="row">
    <div class="col mt-3 mb-3">
      <img src="../../img/placeholder-vid-zoom-153-85.png" alt="placeholder">
    </div>
    <div class="col mt-3 mb-3">
      <img src="../../img/placeholder-pic-zoom-153-85.png" alt="placeholder">
    </div>
    <div class="col mt-3 mb-3">
      <img src="../../img/placeholder-vid-zoom-153-85.png" alt="placeholder">
    </div>
    <div class="col mt-3 mb-3">
      <img src="../../img/placeholder-pic-zoom-153-85.png" alt="placeholder">
    </div>
    <div class="col mt-3 mb-3">
      <img src="../../img/placeholder-vid-zoom-153-85.png" alt="placeholder">
    </div>
  </div>
</div>
{{!-- Media bar END --}}