<div class="row">
    <div class="container col-lg-4">
        <form class="form-horizontal">
            <legend>Hello {{user.displayName}}!</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col control-label" for="nameinput">Change Name</label>
                <div class="col">
                    <input id="nameinput" name="nameinput" type="text" value="{{user.displayName}}" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="emailnput">Change Email ID</label>
                <div class="col">
                    <input id="emailnput" name="emailnput" type="email" value="{{user.email}}" class="form-control input-md">
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col control-label" for="passwordinput">password</label>
                <div class="col">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="password" value="{{user.password}}" class="form-control input-md">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col control-label" for="savebutton"></label>
                <div class="col">
                    <div id="savebutton" name="savebutton" class="btn btn-primary">Save</div>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col control-label" for="deletebutton">Delete my account</label>
                <div class="col">
                    <div id="deletebutton" name="deletebutton" class="btn btn-danger">Delete</div>
                </div>
            </div>
        </form>
    </div>
    <div id="admin-console" class="col"></div>
</div>