body {
    background-color: yellowgreen;
}
header{
    /* background-color: green; */
    height: 25em !important;
    background: url(../img/background-top-1.png), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQoU2NkwAQNDAwMIIwMGhjRBbApAokhK8RqEkwjTCFeRSBbQQoJKoIpRPfOkPUMAMG7EwvScTT3AAAAAElFTkSuQmCC),url(../img/background-top-0.png);
    background-position: center 12em,top center,top center;
    background-repeat: no-repeat,repeat,no-repeat;
    background-size: auto,auto,auto;
}
footer{
    /* background-color: green; */
    color: white;
    height: 15em !important;
    background: url(../img/background-bottom-1.png), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAM0lEQVQoU2NkwAQNDAwMIIwMGhjRBbApAokhK8RqEkwjTCFeRSBbQQoJKoIpRPfOkPUMAMG7EwvScTT3AAAAAElFTkSuQmCC),url(../img/background-bottom-0.png);
    background-position: center top,top center,top center;
    background-repeat: no-repeat,repeat,no-repeat;
    background-size: auto,auto,auto;
}

.footer-container .col{
    padding: 2em;
}

section{
    background-color: white !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2OcOnWqLwMDA0N2dvZmEM2IIQASBQGYBCO6AADn/QwdNGF7NQAAAABJRU5ErkJggg==);
    background-position: top center;
    background-repeat: repeat;
    background-size: auto;
}


.logo{
    /* height: 5em; */
    height:100%;
    align-content: center;
}
.logo-footer{
   height: 2em
}

.first-row{
    padding-top: 2em !important;
}
.slogan{
    color: white !important;
    padding-top: 1.5em !important;
}

.text-align-left{
    text-align: left;
}

