<ul class="small">
    <li><a href="">archived...</a></li>
    <li><a href="">free websites</a></li>
    <li><a href="">easy drag and drop</a></li>
    <li><a href="">designer-made templates</a></li>
    <li><a href="">beautiful galleries</a></li>
    <li><a href=""> mobile optimized</a></li>
</ul>