<ul class="small">
    <li>Footer - recents...</li>
    <li>free websites</li>
    <li>easy drag and drop</li>
    <li>designer-made templates</li>
    <li>beautiful galleries</li>
    <li> mobile optimized</li>
</ul>