<div class="row p-5">
  <div class="col">
    <h5>Everything You Need</h5>
    <img src="" alt="">
    <p class="small">We’ve got you covered. Free websites, easy drag and drop, designer-made templates, beautiful galleries, mobile optimized,
      domains, huge image collection, secure hosting, SEO, 24/7 full support and more - all wrapped up in one free website
      builder.
    </p>
  </div>
  <div class="col">
    <h5>Do It Yourself</h5>
    <img src="" alt="">
    <p class="small">Creating your stunning website for free is easier than ever with our website builder. No tech skills needed. Just pick
      a template, change anything you want, add your images, videos, text and more to get online instantly.</p>
  </div>
  <div class="col ">
    <h5>Use the Power of Design</h5>
    <img src="" alt="">
    <p class="small">ADI learns about you and applies this knowledge to create the perfect website for your needs. From billions of combinations
      including layouts, images, text, contact forms and more, Wix ADI website builder selects the most stunning just for
      you - creating a one-of-a-kind free website.</p>
  </div>
</div>